@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    overflow-x: hidden; 
}

body {
    background: #1D212B;
}

#img1, #img2, #img3 {
    position: absolute;
    transition: transform 0.5s, opacity 0.5s;
}

#img1 {
    transform: translate(-50%, -50%) rotate(-15deg) scale(0.7);
    max-width: 250px;
    z-index: 0;
    bottom: 50%;
    left: 20%;
}

#img2 {
    transform: translate(-50%, -50%) rotate(-10deg) scale(0.6);
    max-width: 150px;
    z-index: 0;
    bottom: 60%;
    left: 70%;
}

#img3 {
    transform: translate(-50%, -50%) rotate(30deg) scale(0.5);
    max-width: 400px;
    z-index: 0;
    bottom: -10%;
    left: 73%;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: white;
    position: relative;
    padding-top: 100px;
}


section .container {
    margin: 100px;
    text-align: center; 
}

section .container img {
    max-width: 100%;
    margin-top: 20px; 
    height: auto; 
    width: 400px;
}

section h1 {
    font-size: 60px;
    position: relative;
    z-index: 1;
}

section h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

section p {
    margin-bottom: 20px;
}

section .cards {
    display: flex;
}

section .text-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section .text-card {
    background: rgba(38, 150, 233, 0.7);
    margin: 20px;
    padding: 20px;
    flex: 1; 
    max-width: 800px; 
    box-sizing: border-box;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

section .text-card.github {
    background: none;
}

section .text-card.github img {
    width: 200px;
    height: auto;
}

section .text-card.LinkedIn {
    background: none;
}

section .text-card.LinkedIn img {
    width: 125px;
    height: auto;
}

section .text-card.Email img {
    width: 155px;
    height: auto;
}

section .text-card.Email {
    background: none;
}

.text-cards.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto); 
    grid-gap: 20px; 
    justify-content: center;
}

section .text-card.skills {
    width: 100%;
    margin-bottom: 20px;
    background: white;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    border-radius: 50%;
    width: 150px; 
    height: 150px; 
    transition: transform 0.7s ease; 
    position: relative;
    overflow: hidden;
}

section .text-card.github,
section .text-card.LinkedIn,
section .text-card.Email {
    transition: transform 0.7s ease;
    position: relative;
    overflow: hidden; 
}

section .text-card.github:hover,
section .text-card.LinkedIn:hover,
section .text-card.Email:hover {
    transform: scale(1.1);
}

section .text-card.skills:hover {
    transform: scale(1.1);
}

section .text-card.skills:hover .logo img {
    opacity: 0.5;
}

section .text-card.skills:hover .text {
    opacity: 1;
}

section .text-card.skills .logo img {
    width: 70px;
    height: auto;
    transition: opacity 0.7s ease;
}


section .text-card.skills.html .logo img {
    width: 85px;
    height: auto;
    transition: opacity 0.7s ease;
}

section .text-card.skills .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    transition: opacity 0.7s ease;
    background-color: #1d212bba;
    padding: 10px;
    border-radius: 5px;
}

.project {
    margin-bottom: 40px;
}

.project h3 {
    margin-bottom: 10px;
}



.project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-details p {
    margin-top: 10px;
}

.project-details img {
    width: 800px;
    height: 800px;
}

.project-details a {
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #2696e9;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project-details a:hover {
    background-color: #1c7cd9;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

@media (max-width: 900px) {
    section .text-cards {
        flex-direction: column;
        align-items: center;
    }

    section .text-card {
        flex: 0 0 calc(100% - 40px); 
        max-width: calc(100% - 40px); 
    }
}

@media screen and (max-width: 768px) {
    .text-cards.skills {
        display: grid;
        grid-template-columns: 1fr; 
        grid-gap: 20px;
        justify-content: center;
        align-items: center;
    }
    section .text-card.skills {
        width: 150px; 
        height: 150px; 
    }

    section h2 {
        font-size: 30px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .text-cards.skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        justify-content: center;
    }
}